{% extends 'base.html' %}
{% block content %}
<br/><br/>
    {% if user.is_authenticated %}
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4 offset-md-3" >
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Suas reservas</span>
                <h4>Nome: {{ user.first_name }} {{ user.last_name }}</h4>
                <h4>Usuário: {{ user.username }}</h4>
                <h4>Telefone: {{ user.userprofile.phone_number }}</h4>
                <!--h4>Data Contratada: {{ user.userprofile.day }}</h4-->
            </h4>

            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between">
                <span>Número de Reservas</span>
                <strong >{{ number }}</strong>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total</span>
                <strong >R$<strong id="preço">{{ total }}</strong></strong>
              </li>
            </ul>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                {% if user.userprofile.paid %}
                    <h4>Pago</h4>
                {% endif %}
            </h4>
            {% if can_change %}
                {% if user.userprofile.can_change %}
                    <button onclick="location.href='{% url 'reservation' %}'"type="button" class="btn btn-warning">Adicionar Reserva</button>
                {% endif %}
            {% endif %}
          </div>
        </div>


        {% for reservation in reservation_list %}
            <div class="card border-warning mb-3 offset-md-3" style="max-width: 28rem;">
                <div class="card-header"><strong>{{ reservation.name }}</strong></div>
                <div class="card-body">
                    <h6 class="card-text">Valor: {{ reservation.price}}</h6>
                    <h6 class="card-text"><strong>Restrições: </strong>
                        {% if reservation.gluten %}
                            [Intolerante ao Glúten] 
                        {% endif %}
                        {% if reservation.lactose %}
                            [Intolerante à Lactose]
                        {% endif %}
                        {% if reservation.vegan %}
                            [Vegano] 
                        {% endif %}
                        {% if reservation.vegetarian %}
                            [Vegetariano]
                        {% endif %}
                    </h6>
                    {% if reservation.kids_menu %}
                        <h6 class="card-text"><strong>Escolha por Cardápio Infantil</strong></h6>
                    {% endif %}
                    {% if reservation.alergies != '' %}
                        <h6 class="card-text">Alergias: {{ reservation.alergies }}</h6>
                    {% endif %}
                    {% if reservation.obs != '' %}
                        <h6 class="card-text">Observações: {{ reservation.obs }}</h6>
                    {% endif %}

                </div>
            </div>

        {% endfor %}

        
        
    </br>
        <h4>Forma de pagamento</h4>
        <p>O pagamento da sua reserva deve ser realizado até o dia 7 de novembro às 23h59, e deve ser feito por PIX.</p>
        <p>Após realizar sua reserva, um aluno entrará em contato com você para confirmar o pagamento e, no caso de a sua reserva ser para o dia 11 de novembro, confirmar também se a lotação mínima foi atingida para essa data ou se haverá reembolso.</p>
        <p>Para realizar o <strong>pagamento via PIX</strong>, utilize a chave chave PIX: boulevard.bistro2021@gmail.com</p>
        <p>Confira os dados no momento da transferência via PIX:
            <ul>
                <li><strong>Primeiro nome do titular:</strong> Liliane</li>
                <li><strong>CPF:</strong> ***.584.660-**</li>
                <li><strong>Instituição:</strong>Banco do Estado do Rio Grande do Sul S.A</li>
            </ul>
        </p>
        <p>Após a transferência, é necessário o envio do comprovante de pagamento juntamente com o nome da pessoa que realizou o cadastro para o e-mail <a href="mailto:boulevard.bistro2021@gmail.com">boulevard.bistro2021@gmail.com</a>
        </p>
    </br>
        <h4>Política de devolução</h4>
        <ul>
            <li>Após o pagamento dos ingressos, não haverá reembolso do valor pago.</li>
            <li>Haverá reembolso do valor pago para as reservas da segunda noite caso ela não atinja a lotação mínima necessária.</li>
            <li>A reserva sem pagamento pode ser cancelada pelo email <a href="mailto:boulevard.bistro2021@gmail.com">boulevard.bistro2021@gmail.com</a></li>
            <li>Alterações na reserva (como informação de restrições alimentares) podem ser realizadas até 7 de novembro pelo email <a href="mailto:boulevard.bistro2021@gmail.com">boulevard.bistro2021@gmail.com</a></li>
        </ul>
        </br>
        <h4>Protocolos de segurança</h4>
        <p>A equipe responsável pelo Boulevard Bistrô deseja proporcionar um ambiente aconchegante e inesquecível, o que inclui zelar pela segurança e saúde das pessoas envolvidas. Devido a isso, apresentamos os protocolos do evento. </p>
            </br>
        <p>Todas essas regras estão de acordo com a vigilância sanitária da cidade de Flores da Cunha/RS, baseando-se na Portaria SES nº390/2021 para restaurantes, bares, lanchonetes e similares:</p>
        <ul>
            <li>É vedada a permanência de clientes em pé durante o consumo de alimentos e bebidas.</li>
            <li>Apenas clientes sentados e em grupos de até no máximo oito pessoas por mesas.</li>
            <li>É vedada música alta que prejudique a comunicação entre clientes.</li>
            <li>Utilização de álcool 70% ou sanitizantes similares por funcionários e clientes, além de distanciamento e uso de máscara de maneira adequada sempre que a pessoa não estiver consumindo a refeição.</li>
            <li>Aferição de temperatura na entrada.</li>
            <li>Lotação máxima de 80% da capacidade do local ou dose única.máxima.</li>
        </ul>
        <p>Para dúvidas ou esclarecimentos das medidas apresentadas, entre em contato pelo e-mail <a href="mailto:boulevard.bistro2021@gmail.com">boulevard.bistro2021@gmail.com</a></p>
        <p>Todas as informações aqui presentes podem ser acessadas nas plataformas de informação do estado do Rio Grande do Sul, bem como na Secretaria de Saúde (SES).</p> 
        <p>Informamos que tais protocolos de segurança são medidas provisórias, podendo sofrer alterações futuras por parte do governo e/ou Secretaria da Saúde.</p>

    {% else %}
        <h3 class="text-center">Crie seu cadastro <a href={% url 'register' %}>AQUI</a></h3>
        <br>
        <h4 class="text-center">ou</h4>
        <br>
        <h3 class="text-center">Efetue seu Login <a href={% url 'login' %}>AQUI</a></h3>

    {% endif %}
    <br/><br/>
    <br/><br/>
{% endblock %}