{% extends 'base.html' %}
{% block content %}
    <br/><br/>
        <script type="text/javascript">
            function forceLower(strInput) 
            {
            strInput.value=strInput.value.toLowerCase();
            }
        </script>
        <h3 class="text-center">Efetue seu Login</h3>

        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="e-mail de usuário" name="username" onkeyup="return forceLower(this);">
              </div>
                <br>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" name="password">
              </div>
                <br>
              <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    <br/><br/>
    <br/><br/>
{% endblock %}