{% extends 'base.html' %}
{% block content %}
    <br/><br/>
    {% if submitted %}
        <h3 class="text-center">Sua reserva foi efetuada com Sucesso!</h3>
        <h3 class="text-center">Veja suas reservas <a href={% url 'home' %}>AQUI </a></h3>

    {% else %}
        <div class="col-md-6 offset-md-3">
            <h3>Lembre-se de cadastrar a sua reserva e incluir cada um dos seus acompanhantes em reservas diferentes! </h3>
            
            <br>

            <form method="POST" action="{% url 'reservation' %}">
                {% csrf_token %}
                    {% if user.is_authenticated %}

                        <h3>Usuário: {{ user.username }}</h3>

                        {{ form.as_p }}

                    {% endif %}


                <input type="submit" value="Salvar Reserva" class="btn btn-secondary">
            </form>
        </div>
    {% endif %}
    <br/><br/>
    <br/><br/>
{% endblock %}